{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
		{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}
		
		<h2>Most liked categories</h2>
			<p>
				{% if categories_mostliked %}
					<ul>
						{% for category in categories_mostliked %}
						<li><a href='{% url 'category' category.slug %}'>{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					<strong>There are no categories present.</strong>
				{% endif %}
			</p>

		<h2>Most viwed categories</h2>
		<p>
			{% if categories_mostviewed %}
				<ul>
					{% for category in categories_mostviewed %}
						<li><a href='{% url 'category' category.slug %}'>{{ category.name }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
		</p>
{% endblock %}